{{#em-form-for model action="submit" as |f|}}
  {{#each formFields as |field|}}
    {{#if field.canDisplay}}
      {{#if field.isCustomForm}}
        {{component field.accessor f field=field model=model}}
      {{else if field.isBasic}}
        {{#component field.componentName f 
          step=field.step
          name=field.accessName
          label=field.label
          prefix=field.prefix
          disabled=(not field.canModify)}}
          <small class="autox-form-for__help-block">{{field.description}}</small>
        {{/component}}
      {{else}}
        {{#em-select-field f 
          name=field.accessName
          label=field.label
          options=field.choices
          search=(if field.search (perform field.searchTask))
          searchField=field.proxyKey
          prefix=field.prefix
          disabled=(not field.canModify) 
          as |choice|}}
          {{autox-select-choice model=choice field=field}}
        {{/em-select-field}}
        <small class="autox-form-for__help-block">{{field.description}}</small>
      {{/if}}
    {{/if}}
  {{/each}}
  <div class="autox-form-for__actions">
    <button class="autox-form-for__button btn btn-primary {{if model.isSaving "disabled"}}" type="submit">
      {{#if model.isSaving}}
        <span class="fa">Busy</span>
      {{else}}
        <span class="fa">Submit</span>
      {{/if}}
    </button>
  </div>
{{/em-form-for}}