{{#if hasLinkModel}}
  {{#link-to slug.path linkModel class=linkClass}}
    <strong class="autox-show-link-field__label list-group-item-heading">
      {{field.label}}
    </strong>
    <div class="autox-show-link-field__content list-group-item-text" aria-label="{{field.name}}">
      {{#if field.isRelationship}}
        {{get model (concat field.name "." field.proxyKey)}}
      {{else}}
        {{txt (get model field.accessName) type=field.type formatter=field.presenter}}
      {{/if}}
    </div>
    <small class="autox-show-link-field__description">{{field.description}}</small>
  {{/link-to}}
{{else}}
  {{#link-to slug.path class=linkClass}}
    <strong class="autox-show-link-field__label list-group-item-heading">
      {{field.label}}
    </strong>
    <div class="autox-show-link-field__content list-group-item-text" aria-label="{{field.name}}">
      {{#if field.isRelationship}}
        {{get model (concat field.name "." field.proxyKey)}}
      {{else}}
        {{txt (get model field.accessName) type=field.type formatter=field.presenter}}
      {{/if}}
    </div>
    <small class="autox-show-link-field__description">{{field.description}}</small>
  {{/link-to}}
{{/if}}