{{#if userHasDefinedComponent}}
  {{component userDefinedComponent model=model fields=fields}}
{{else}}
  {{#each fields as |field|}}
    {{#if field.canDisplay}}
      {{#if field.isAction}}
        {{autox-show-action-field 
          field=field
          model=model
          invoke="bubbles" 
          kill=(action (mut field.canDisplay) false)}}
      {{else}}
        {{autox-show-field field=field model=model}}
      {{/if}}
    {{/if}}
  {{else}}
    <div class="autox-show-for__list-member list-group-item">
      <strong class="autox-show-for__label list-group-item-heading">No Fields Are Avaible to Show!</strong>
      <small class="autox-show-for__description">You probably did something wrong</small>
    </div>
  {{/each}}
{{/if}}