{{#if userHasDefinedComponent}}
  {{component userDefinedComponent model=model fields=fields}}
{{else}}
  {{#each fields as |field|}}
    {{#if field.canDisplay}}
      {{#if field.isCustomized}}
        {{component field.presenter 
          field=field
          model=model
          invoke=invoke}}
      {{else if field.isAction}}
        {{autox-show-action-field 
          field=field
          model=model
          invoke=invoke}}
      {{else if field.isLink}}
        {{autox-show-link-field
          field=field
          model=model
          invokeAction=invoke}}
      {{else}}
        {{autox-show-field field=field model=model}}
      {{/if}}
    {{/if}}
  {{else}}
    <div class="autox-show-for__list-member list-group-item">
      <strong class="autox-show-for__label list-group-item-heading">No Fields Are Avaible to Show!</strong>
      <small class="autox-show-for__description">You probably did something wrong</small>
    </div>
  {{/each}}
{{/if}}