{{#if userHasDefinedComponent}}
  {{component userDefinedComponent collection=collection}}
{{else}}
  {{#each collection as |model|}}
    {{#if userHasDefinedSummaryComponent}}
      {{#if modelPath}}
        {{component userDefinedSummaryComponent modelPath model fields=fields}}
      {{else}}
        {{component userDefinedSummaryComponent fields=fields}}
      {{/if}}
    {{else if modelPath}}
      {{#link-to modelPath model class="list-group-item"}}
        {{autox-summarize-for model=model fields=fields}}
      {{/link-to}}
    {{else}}
      <div class="list-group-item">
        {{autox-summarize-for model=model fields=fields}}
      </div>
    {{/if}}
  {{else}}
    <div class="autox-collection-for__block-null">
      <strong class="autox-show-for__label-null">No Results!</strong>
      <small class="autox-show-for__content-null">
        Your request returned empty, too bad, so sad.
      </small>
    </div>
  {{/each}}
  {{yield}}
{{/if}}